@import 'variable';

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/fa-regular-400.eot');
  src: url('webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
        url('webfonts/fa-regular-400.woff2') format('woff2'),
        url('webfonts/fa-regular-400.woff') format('woff'),
        url('webfonts/fa-regular-400.ttf') format('truetype'),
        url('webfonts/fa-regular-400.svg#fontawesome') format('svg'); }

.icon {
  font-family: 'FontAwesome';
  font-weight: 400;
}

//.icon.500px::before {content: fa-content($fa-var-500px); }
.icon.accessible-icon::before {content: fa-content($fa-var-accessible-icon); }
.icon.accusoft::before {content: fa-content($fa-var-accusoft); }
.icon.address-book::before {content: fa-content($fa-var-address-book); }
.icon.address-card::before {content: fa-content($fa-var-address-card); }
.icon.adjust::before {content: fa-content($fa-var-adjust); }
.icon.adn::before {content: fa-content($fa-var-adn); }
.icon.adversal::before {content: fa-content($fa-var-adversal); }
.icon.affiliatetheme::before {content: fa-content($fa-var-affiliatetheme); }
.icon.algolia::before {content: fa-content($fa-var-algolia); }
.icon.align-center::before {content: fa-content($fa-var-align-center); }
.icon.align-justify::before {content: fa-content($fa-var-align-justify); }
.icon.align-left::before {content: fa-content($fa-var-align-left); }
.icon.align-right::before {content: fa-content($fa-var-align-right); }
.icon.amazon::before {content: fa-content($fa-var-amazon); }
.icon.amazon-pay::before {content: fa-content($fa-var-amazon-pay); }
.icon.ambulance::before {content: fa-content($fa-var-ambulance); }
.icon.american-sign-language-interpreting::before {content: fa-content($fa-var-american-sign-language-interpreting); }
.icon.amilia::before {content: fa-content($fa-var-amilia); }
.icon.anchor::before {content: fa-content($fa-var-anchor); }
.icon.android::before {content: fa-content($fa-var-android); }
.icon.angellist::before {content: fa-content($fa-var-angellist); }
.icon.angle-double-down::before {content: fa-content($fa-var-angle-double-down); }
.icon.angle-double-left::before {content: fa-content($fa-var-angle-double-left); }
.icon.angle-double-right::before {content: fa-content($fa-var-angle-double-right); }
.icon.angle-double-up::before {content: fa-content($fa-var-angle-double-up); }
.icon.angle-down::before {content: fa-content($fa-var-angle-down); }
.icon.angle-left::before {content: fa-content($fa-var-angle-left); }
.icon.angle-right::before {content: fa-content($fa-var-angle-right); }
.icon.angle-up::before {content: fa-content($fa-var-angle-up); }
.icon.angrycreative::before {content: fa-content($fa-var-angrycreative); }
.icon.angular::before {content: fa-content($fa-var-angular); }
.icon.app-store::before {content: fa-content($fa-var-app-store); }
.icon.app-store-ios::before {content: fa-content($fa-var-app-store-ios); }
.icon.apper::before {content: fa-content($fa-var-apper); }
.icon.apple::before {content: fa-content($fa-var-apple); }
.icon.apple-pay::before {content: fa-content($fa-var-apple-pay); }
.icon.archive::before {content: fa-content($fa-var-archive); }
.icon.arrow-alt-circle-down::before {content: fa-content($fa-var-arrow-alt-circle-down); }
.icon.arrow-alt-circle-left::before {content: fa-content($fa-var-arrow-alt-circle-left); }
.icon.arrow-alt-circle-right::before {content: fa-content($fa-var-arrow-alt-circle-right); }
.icon.arrow-alt-circle-up::before {content: fa-content($fa-var-arrow-alt-circle-up); }
.icon.arrow-circle-down::before {content: fa-content($fa-var-arrow-circle-down); }
.icon.arrow-circle-left::before {content: fa-content($fa-var-arrow-circle-left); }
.icon.arrow-circle-right::before {content: fa-content($fa-var-arrow-circle-right); }
.icon.arrow-circle-up::before {content: fa-content($fa-var-arrow-circle-up); }
.icon.arrow-down::before {content: fa-content($fa-var-arrow-down); }
.icon.arrow-left::before {content: fa-content($fa-var-arrow-left); }
.icon.arrow-right::before {content: fa-content($fa-var-arrow-right); }
.icon.arrow-up::before {content: fa-content($fa-var-arrow-up); }
.icon.arrows-alt::before {content: fa-content($fa-var-arrows-alt); }
.icon.arrows-alt-h::before {content: fa-content($fa-var-arrows-alt-h); }
.icon.arrows-alt-v::before {content: fa-content($fa-var-arrows-alt-v); }
.icon.assistive-listening-systems::before {content: fa-content($fa-var-assistive-listening-systems); }
.icon.asterisk::before {content: fa-content($fa-var-asterisk); }
.icon.asymmetrik::before {content: fa-content($fa-var-asymmetrik); }
.icon.at::before {content: fa-content($fa-var-at); }
.icon.audible::before {content: fa-content($fa-var-audible); }
.icon.audio-description::before {content: fa-content($fa-var-audio-description); }
.icon.autoprefixer::before {content: fa-content($fa-var-autoprefixer); }
.icon.avianex::before {content: fa-content($fa-var-avianex); }
.icon.aviato::before {content: fa-content($fa-var-aviato); }
.icon.aws::before {content: fa-content($fa-var-aws); }
.icon.backward::before {content: fa-content($fa-var-backward); }
.icon.balance-scale::before {content: fa-content($fa-var-balance-scale); }
.icon.ban::before {content: fa-content($fa-var-ban); }
.icon.band-aid::before {content: fa-content($fa-var-band-aid); }
.icon.bandcamp::before {content: fa-content($fa-var-bandcamp); }
.icon.barcode::before {content: fa-content($fa-var-barcode); }
.icon.bars::before {content: fa-content($fa-var-bars); }
.icon.baseball-ball::before {content: fa-content($fa-var-baseball-ball); }
.icon.basketball-ball::before {content: fa-content($fa-var-basketball-ball); }
.icon.bath::before {content: fa-content($fa-var-bath); }
.icon.battery-empty::before {content: fa-content($fa-var-battery-empty); }
.icon.battery-full::before {content: fa-content($fa-var-battery-full); }
.icon.battery-half::before {content: fa-content($fa-var-battery-half); }
.icon.battery-quarter::before {content: fa-content($fa-var-battery-quarter); }
.icon.battery-three-quarters::before {content: fa-content($fa-var-battery-three-quarters); }
.icon.bed::before {content: fa-content($fa-var-bed); }
.icon.beer::before {content: fa-content($fa-var-beer); }
.icon.behance::before {content: fa-content($fa-var-behance); }
.icon.behance-square::before {content: fa-content($fa-var-behance-square); }
.icon.bell::before {content: fa-content($fa-var-bell); }
.icon.bell-slash::before {content: fa-content($fa-var-bell-slash); }
.icon.bicycle::before {content: fa-content($fa-var-bicycle); }
.icon.bimobject::before {content: fa-content($fa-var-bimobject); }
.icon.binoculars::before {content: fa-content($fa-var-binoculars); }
.icon.birthday-cake::before {content: fa-content($fa-var-birthday-cake); }
.icon.bitbucket::before {content: fa-content($fa-var-bitbucket); }
.icon.bitcoin::before {content: fa-content($fa-var-bitcoin); }
.icon.bity::before {content: fa-content($fa-var-bity); }
.icon.black-tie::before {content: fa-content($fa-var-black-tie); }
.icon.blackberry::before {content: fa-content($fa-var-blackberry); }
.icon.blind::before {content: fa-content($fa-var-blind); }
.icon.blogger::before {content: fa-content($fa-var-blogger); }
.icon.blogger-b::before {content: fa-content($fa-var-blogger-b); }
.icon.bluetooth::before {content: fa-content($fa-var-bluetooth); }
.icon.bluetooth-b::before {content: fa-content($fa-var-bluetooth-b); }
.icon.bold::before {content: fa-content($fa-var-bold); }
.icon.bolt::before {content: fa-content($fa-var-bolt); }
.icon.bomb::before {content: fa-content($fa-var-bomb); }
.icon.book::before {content: fa-content($fa-var-book); }
.icon.bookmark::before {content: fa-content($fa-var-bookmark); }
.icon.bowling-ball::before {content: fa-content($fa-var-bowling-ball); }
.icon.box::before {content: fa-content($fa-var-box); }
.icon.boxes::before {content: fa-content($fa-var-boxes); }
.icon.braille::before {content: fa-content($fa-var-braille); }
.icon.briefcase::before {content: fa-content($fa-var-briefcase); }
.icon.btc::before {content: fa-content($fa-var-btc); }
.icon.bug::before {content: fa-content($fa-var-bug); }
.icon.building::before {content: fa-content($fa-var-building); }
.icon.bullhorn::before {content: fa-content($fa-var-bullhorn); }
.icon.bullseye::before {content: fa-content($fa-var-bullseye); }
.icon.buromobelexperte::before {content: fa-content($fa-var-buromobelexperte); }
.icon.bus::before {content: fa-content($fa-var-bus); }
.icon.buysellads::before {content: fa-content($fa-var-buysellads); }
.icon.calculator::before {content: fa-content($fa-var-calculator); }
.icon.calendar::before {content: fa-content($fa-var-calendar); }
.icon.calendar-alt::before {content: fa-content($fa-var-calendar-alt); }
.icon.calendar-check::before {content: fa-content($fa-var-calendar-check); }
.icon.calendar-minus::before {content: fa-content($fa-var-calendar-minus); }
.icon.calendar-plus::before {content: fa-content($fa-var-calendar-plus); }
.icon.calendar-times::before {content: fa-content($fa-var-calendar-times); }
.icon.camera::before {content: fa-content($fa-var-camera); }
.icon.camera-retro::before {content: fa-content($fa-var-camera-retro); }
.icon.car::before {content: fa-content($fa-var-car); }
.icon.caret-down::before {content: fa-content($fa-var-caret-down); }
.icon.caret-left::before {content: fa-content($fa-var-caret-left); }
.icon.caret-right::before {content: fa-content($fa-var-caret-right); }
.icon.caret-square-down::before {content: fa-content($fa-var-caret-square-down); }
.icon.caret-square-left::before {content: fa-content($fa-var-caret-square-left); }
.icon.caret-square-right::before {content: fa-content($fa-var-caret-square-right); }
.icon.caret-square-up::before {content: fa-content($fa-var-caret-square-up); }
.icon.caret-up::before {content: fa-content($fa-var-caret-up); }
.icon.cart-arrow-down::before {content: fa-content($fa-var-cart-arrow-down); }
.icon.cart-plus::before {content: fa-content($fa-var-cart-plus); }
.icon.cc-amazon-pay::before {content: fa-content($fa-var-cc-amazon-pay); }
.icon.cc-amex::before {content: fa-content($fa-var-cc-amex); }
.icon.cc-apple-pay::before {content: fa-content($fa-var-cc-apple-pay); }
.icon.cc-diners-club::before {content: fa-content($fa-var-cc-diners-club); }
.icon.cc-discover::before {content: fa-content($fa-var-cc-discover); }
.icon.cc-jcb::before {content: fa-content($fa-var-cc-jcb); }
.icon.cc-mastercard::before {content: fa-content($fa-var-cc-mastercard); }
.icon.cc-paypal::before {content: fa-content($fa-var-cc-paypal); }
.icon.cc-stripe::before {content: fa-content($fa-var-cc-stripe); }
.icon.cc-visa::before {content: fa-content($fa-var-cc-visa); }
.icon.centercode::before {content: fa-content($fa-var-centercode); }
.icon.certificate::before {content: fa-content($fa-var-certificate); }
.icon.chart-area::before {content: fa-content($fa-var-chart-area); }
.icon.chart-bar::before {content: fa-content($fa-var-chart-bar); }
.icon.chart-line::before {content: fa-content($fa-var-chart-line); }
.icon.chart-pie::before {content: fa-content($fa-var-chart-pie); }
.icon.check::before {content: fa-content($fa-var-check); }
.icon.check-circle::before {content: fa-content($fa-var-check-circle); }
.icon.check-square::before {content: fa-content($fa-var-check-square); }
.icon.chess::before {content: fa-content($fa-var-chess); }
.icon.chess-bishop::before {content: fa-content($fa-var-chess-bishop); }
.icon.chess-board::before {content: fa-content($fa-var-chess-board); }
.icon.chess-king::before {content: fa-content($fa-var-chess-king); }
.icon.chess-knight::before {content: fa-content($fa-var-chess-knight); }
.icon.chess-pawn::before {content: fa-content($fa-var-chess-pawn); }
.icon.chess-queen::before {content: fa-content($fa-var-chess-queen); }
.icon.chess-rook::before {content: fa-content($fa-var-chess-rook); }
.icon.chevron-circle-down::before {content: fa-content($fa-var-chevron-circle-down); }
.icon.chevron-circle-left::before {content: fa-content($fa-var-chevron-circle-left); }
.icon.chevron-circle-right::before {content: fa-content($fa-var-chevron-circle-right); }
.icon.chevron-circle-up::before {content: fa-content($fa-var-chevron-circle-up); }
.icon.chevron-down::before {content: fa-content($fa-var-chevron-down); }
.icon.chevron-left::before {content: fa-content($fa-var-chevron-left); }
.icon.chevron-right::before {content: fa-content($fa-var-chevron-right); }
.icon.chevron-up::before {content: fa-content($fa-var-chevron-up); }
.icon.child::before {content: fa-content($fa-var-child); }
.icon.chrome::before {content: fa-content($fa-var-chrome); }
.icon.circle::before {content: fa-content($fa-var-circle); }
.icon.circle-notch::before {content: fa-content($fa-var-circle-notch); }
.icon.clipboard::before {content: fa-content($fa-var-clipboard); }
.icon.clipboard-check::before {content: fa-content($fa-var-clipboard-check); }
.icon.clipboard-list::before {content: fa-content($fa-var-clipboard-list); }
.icon.clock::before {content: fa-content($fa-var-clock); }
.icon.clone::before {content: fa-content($fa-var-clone); }
.icon.closed-captioning::before {content: fa-content($fa-var-closed-captioning); }
.icon.cloud::before {content: fa-content($fa-var-cloud); }
.icon.cloud-download-alt::before {content: fa-content($fa-var-cloud-download-alt); }
.icon.cloud-upload-alt::before {content: fa-content($fa-var-cloud-upload-alt); }
.icon.cloudscale::before {content: fa-content($fa-var-cloudscale); }
.icon.cloudsmith::before {content: fa-content($fa-var-cloudsmith); }
.icon.cloudversify::before {content: fa-content($fa-var-cloudversify); }
.icon.code::before {content: fa-content($fa-var-code); }
.icon.code-branch::before {content: fa-content($fa-var-code-branch); }
.icon.codepen::before {content: fa-content($fa-var-codepen); }
.icon.codiepie::before {content: fa-content($fa-var-codiepie); }
.icon.coffee::before {content: fa-content($fa-var-coffee); }
.icon.cog::before {content: fa-content($fa-var-cog); }
.icon.cogs::before {content: fa-content($fa-var-cogs); }
.icon.columns::before {content: fa-content($fa-var-columns); }
.icon.comment::before {content: fa-content($fa-var-comment); }
.icon.comment-alt::before {content: fa-content($fa-var-comment-alt); }
.icon.comments::before {content: fa-content($fa-var-comments); }
.icon.compass::before {content: fa-content($fa-var-compass); }
.icon.compress::before {content: fa-content($fa-var-compress); }
.icon.connectdevelop::before {content: fa-content($fa-var-connectdevelop); }
.icon.contao::before {content: fa-content($fa-var-contao); }
.icon.copy::before {content: fa-content($fa-var-copy); }
.icon.copyright::before {content: fa-content($fa-var-copyright); }
.icon.cpanel::before {content: fa-content($fa-var-cpanel); }
.icon.creative-commons::before {content: fa-content($fa-var-creative-commons); }
.icon.credit-card::before {content: fa-content($fa-var-credit-card); }
.icon.crop::before {content: fa-content($fa-var-crop); }
.icon.crosshairs::before {content: fa-content($fa-var-crosshairs); }
.icon.css3::before {content: fa-content($fa-var-css3); }
.icon.css3-alt::before {content: fa-content($fa-var-css3-alt); }
.icon.cube::before {content: fa-content($fa-var-cube); }
.icon.cubes::before {content: fa-content($fa-var-cubes); }
.icon.cut::before {content: fa-content($fa-var-cut); }
.icon.cuttlefish::before {content: fa-content($fa-var-cuttlefish); }
.icon.d-and-d::before {content: fa-content($fa-var-d-and-d); }
.icon.dashcube::before {content: fa-content($fa-var-dashcube); }
.icon.database::before {content: fa-content($fa-var-database); }
.icon.deaf::before {content: fa-content($fa-var-deaf); }
.icon.delicious::before {content: fa-content($fa-var-delicious); }
.icon.deploydog::before {content: fa-content($fa-var-deploydog); }
.icon.deskpro::before {content: fa-content($fa-var-deskpro); }
.icon.desktop::before {content: fa-content($fa-var-desktop); }
.icon.deviantart::before {content: fa-content($fa-var-deviantart); }
.icon.digg::before {content: fa-content($fa-var-digg); }
.icon.digital-ocean::before {content: fa-content($fa-var-digital-ocean); }
.icon.discord::before {content: fa-content($fa-var-discord); }
.icon.discourse::before {content: fa-content($fa-var-discourse); }
.icon.dna::before {content: fa-content($fa-var-dna); }
.icon.dochub::before {content: fa-content($fa-var-dochub); }
.icon.docker::before {content: fa-content($fa-var-docker); }
.icon.dollar-sign::before {content: fa-content($fa-var-dollar-sign); }
.icon.dolly::before {content: fa-content($fa-var-dolly); }
.icon.dolly-flatbed::before {content: fa-content($fa-var-dolly-flatbed); }
.icon.dot-circle::before {content: fa-content($fa-var-dot-circle); }
.icon.download::before {content: fa-content($fa-var-download); }
.icon.draft2digital::before {content: fa-content($fa-var-draft2digital); }
.icon.dribbble::before {content: fa-content($fa-var-dribbble); }
.icon.dribbble-square::before {content: fa-content($fa-var-dribbble-square); }
.icon.dropbox::before {content: fa-content($fa-var-dropbox); }
.icon.drupal::before {content: fa-content($fa-var-drupal); }
.icon.dyalog::before {content: fa-content($fa-var-dyalog); }
.icon.earlybirds::before {content: fa-content($fa-var-earlybirds); }
.icon.edge::before {content: fa-content($fa-var-edge); }
.icon.edit::before {content: fa-content($fa-var-edit); }
.icon.eject::before {content: fa-content($fa-var-eject); }
.icon.elementor::before {content: fa-content($fa-var-elementor); }
.icon.ellipsis-h::before {content: fa-content($fa-var-ellipsis-h); }
.icon.ellipsis-v::before {content: fa-content($fa-var-ellipsis-v); }
.icon.ember::before {content: fa-content($fa-var-ember); }
.icon.empire::before {content: fa-content($fa-var-empire); }
.icon.envelope::before {content: fa-content($fa-var-envelope); }
.icon.envelope-open::before {content: fa-content($fa-var-envelope-open); }
.icon.envelope-square::before {content: fa-content($fa-var-envelope-square); }
.icon.envira::before {content: fa-content($fa-var-envira); }
.icon.eraser::before {content: fa-content($fa-var-eraser); }
.icon.erlang::before {content: fa-content($fa-var-erlang); }
.icon.ethereum::before {content: fa-content($fa-var-ethereum); }
.icon.etsy::before {content: fa-content($fa-var-etsy); }
.icon.euro-sign::before {content: fa-content($fa-var-euro-sign); }
.icon.exchange-alt::before {content: fa-content($fa-var-exchange-alt); }
.icon.exclamation::before {content: fa-content($fa-var-exclamation); }
.icon.exclamation-circle::before {content: fa-content($fa-var-exclamation-circle); }
.icon.exclamation-triangle::before {content: fa-content($fa-var-exclamation-triangle); }
.icon.expand::before {content: fa-content($fa-var-expand); }
.icon.expand-arrows-alt::before {content: fa-content($fa-var-expand-arrows-alt); }
.icon.expeditedssl::before {content: fa-content($fa-var-expeditedssl); }
.icon.external-link-alt::before {content: fa-content($fa-var-external-link-alt); }
.icon.external-link-square-alt::before {content: fa-content($fa-var-external-link-square-alt); }
.icon.eye::before {content: fa-content($fa-var-eye); }
.icon.eye-dropper::before {content: fa-content($fa-var-eye-dropper); }
.icon.eye-slash::before {content: fa-content($fa-var-eye-slash); }
.icon.facebook::before {content: fa-content($fa-var-facebook); }
.icon.facebook-f::before {content: fa-content($fa-var-facebook-f); }
.icon.facebook-messenger::before {content: fa-content($fa-var-facebook-messenger); }
.icon.facebook-square::before {content: fa-content($fa-var-facebook-square); }
.icon.fast-backward::before {content: fa-content($fa-var-fast-backward); }
.icon.fast-forward::before {content: fa-content($fa-var-fast-forward); }
.icon.fax::before {content: fa-content($fa-var-fax); }
.icon.female::before {content: fa-content($fa-var-female); }
.icon.fighter-jet::before {content: fa-content($fa-var-fighter-jet); }
.icon.file::before {content: fa-content($fa-var-file); }
.icon.file-alt::before {content: fa-content($fa-var-file-alt); }
.icon.file-archive::before {content: fa-content($fa-var-file-archive); }
.icon.file-audio::before {content: fa-content($fa-var-file-audio); }
.icon.file-code::before {content: fa-content($fa-var-file-code); }
.icon.file-excel::before {content: fa-content($fa-var-file-excel); }
.icon.file-image::before {content: fa-content($fa-var-file-image); }
.icon.file-pdf::before {content: fa-content($fa-var-file-pdf); }
.icon.file-powerpoint::before {content: fa-content($fa-var-file-powerpoint); }
.icon.file-video::before {content: fa-content($fa-var-file-video); }
.icon.file-word::before {content: fa-content($fa-var-file-word); }
.icon.film::before {content: fa-content($fa-var-film); }
.icon.filter::before {content: fa-content($fa-var-filter); }
.icon.fire::before {content: fa-content($fa-var-fire); }
.icon.fire-extinguisher::before {content: fa-content($fa-var-fire-extinguisher); }
.icon.firefox::before {content: fa-content($fa-var-firefox); }
.icon.first-aid::before {content: fa-content($fa-var-first-aid); }
.icon.first-order::before {content: fa-content($fa-var-first-order); }
.icon.firstdraft::before {content: fa-content($fa-var-firstdraft); }
.icon.flag::before {content: fa-content($fa-var-flag); }
.icon.flag-checkered::before {content: fa-content($fa-var-flag-checkered); }
.icon.flask::before {content: fa-content($fa-var-flask); }
.icon.flickr::before {content: fa-content($fa-var-flickr); }
.icon.flipboard::before {content: fa-content($fa-var-flipboard); }
.icon.fly::before {content: fa-content($fa-var-fly); }
.icon.folder::before {content: fa-content($fa-var-folder); }
.icon.folder-open::before {content: fa-content($fa-var-folder-open); }
.icon.font::before {content: fa-content($fa-var-font); }
.icon.font-awesome::before {content: fa-content($fa-var-font-awesome); }
.icon.font-awesome-alt::before {content: fa-content($fa-var-font-awesome-alt); }
.icon.font-awesome-flag::before {content: fa-content($fa-var-font-awesome-flag); }
.icon.fonticons::before {content: fa-content($fa-var-fonticons); }
.icon.fonticons-fi::before {content: fa-content($fa-var-fonticons-fi); }
.icon.football-ball::before {content: fa-content($fa-var-football-ball); }
.icon.fort-awesome::before {content: fa-content($fa-var-fort-awesome); }
.icon.fort-awesome-alt::before {content: fa-content($fa-var-fort-awesome-alt); }
.icon.forumbee::before {content: fa-content($fa-var-forumbee); }
.icon.forward::before {content: fa-content($fa-var-forward); }
.icon.foursquare::before {content: fa-content($fa-var-foursquare); }
.icon.free-code-camp::before {content: fa-content($fa-var-free-code-camp); }
.icon.freebsd::before {content: fa-content($fa-var-freebsd); }
.icon.frown::before {content: fa-content($fa-var-frown); }
.icon.futbol::before {content: fa-content($fa-var-futbol); }
.icon.gamepad::before {content: fa-content($fa-var-gamepad); }
.icon.gavel::before {content: fa-content($fa-var-gavel); }
.icon.gem::before {content: fa-content($fa-var-gem); }
.icon.genderless::before {content: fa-content($fa-var-genderless); }
.icon.get-pocket::before {content: fa-content($fa-var-get-pocket); }
.icon.gg::before {content: fa-content($fa-var-gg); }
.icon.gg-circle::before {content: fa-content($fa-var-gg-circle); }
.icon.gift::before {content: fa-content($fa-var-gift); }
.icon.git::before {content: fa-content($fa-var-git); }
.icon.git-square::before {content: fa-content($fa-var-git-square); }
.icon.github::before {content: fa-content($fa-var-github); }
.icon.github-alt::before {content: fa-content($fa-var-github-alt); }
.icon.github-square::before {content: fa-content($fa-var-github-square); }
.icon.gitkraken::before {content: fa-content($fa-var-gitkraken); }
.icon.gitlab::before {content: fa-content($fa-var-gitlab); }
.icon.gitter::before {content: fa-content($fa-var-gitter); }
.icon.glass-martini::before {content: fa-content($fa-var-glass-martini); }
.icon.glide::before {content: fa-content($fa-var-glide); }
.icon.glide-g::before {content: fa-content($fa-var-glide-g); }
.icon.globe::before {content: fa-content($fa-var-globe); }
.icon.gofore::before {content: fa-content($fa-var-gofore); }
.icon.golf-ball::before {content: fa-content($fa-var-golf-ball); }
.icon.goodreads::before {content: fa-content($fa-var-goodreads); }
.icon.goodreads-g::before {content: fa-content($fa-var-goodreads-g); }
.icon.google::before {content: fa-content($fa-var-google); }
.icon.google-drive::before {content: fa-content($fa-var-google-drive); }
.icon.google-play::before {content: fa-content($fa-var-google-play); }
.icon.google-plus::before {content: fa-content($fa-var-google-plus); }
.icon.google-plus-g::before {content: fa-content($fa-var-google-plus-g); }
.icon.google-plus-square::before {content: fa-content($fa-var-google-plus-square); }
.icon.google-wallet::before {content: fa-content($fa-var-google-wallet); }
.icon.graduation-cap::before {content: fa-content($fa-var-graduation-cap); }
.icon.gratipay::before {content: fa-content($fa-var-gratipay); }
.icon.grav::before {content: fa-content($fa-var-grav); }
.icon.gripfire::before {content: fa-content($fa-var-gripfire); }
.icon.grunt::before {content: fa-content($fa-var-grunt); }
.icon.gulp::before {content: fa-content($fa-var-gulp); }
.icon.h-square::before {content: fa-content($fa-var-h-square); }
.icon.hacker-news::before {content: fa-content($fa-var-hacker-news); }
.icon.hacker-news-square::before {content: fa-content($fa-var-hacker-news-square); }
.icon.hand-lizard::before {content: fa-content($fa-var-hand-lizard); }
.icon.hand-paper::before {content: fa-content($fa-var-hand-paper); }
.icon.hand-peace::before {content: fa-content($fa-var-hand-peace); }
.icon.hand-point-down::before {content: fa-content($fa-var-hand-point-down); }
.icon.hand-point-left::before {content: fa-content($fa-var-hand-point-left); }
.icon.hand-point-right::before {content: fa-content($fa-var-hand-point-right); }
.icon.hand-point-up::before {content: fa-content($fa-var-hand-point-up); }
.icon.hand-pointer::before {content: fa-content($fa-var-hand-pointer); }
.icon.hand-rock::before {content: fa-content($fa-var-hand-rock); }
.icon.hand-scissors::before {content: fa-content($fa-var-hand-scissors); }
.icon.hand-spock::before {content: fa-content($fa-var-hand-spock); }
.icon.handshake::before {content: fa-content($fa-var-handshake); }
.icon.hashtag::before {content: fa-content($fa-var-hashtag); }
.icon.hdd::before {content: fa-content($fa-var-hdd); }
.icon.heading::before {content: fa-content($fa-var-heading); }
.icon.headphones::before {content: fa-content($fa-var-headphones); }
.icon.heart::before {content: fa-content($fa-var-heart); }
.icon.heartbeat::before {content: fa-content($fa-var-heartbeat); }
.icon.hips::before {content: fa-content($fa-var-hips); }
.icon.hire-a-helper::before {content: fa-content($fa-var-hire-a-helper); }
.icon.history::before {content: fa-content($fa-var-history); }
.icon.hockey-puck::before {content: fa-content($fa-var-hockey-puck); }
.icon.home::before {content: fa-content($fa-var-home); }
.icon.hooli::before {content: fa-content($fa-var-hooli); }
.icon.hospital::before {content: fa-content($fa-var-hospital); }
.icon.hospital-symbol::before {content: fa-content($fa-var-hospital-symbol); }
.icon.hotjar::before {content: fa-content($fa-var-hotjar); }
.icon.hourglass::before {content: fa-content($fa-var-hourglass); }
.icon.hourglass-end::before {content: fa-content($fa-var-hourglass-end); }
.icon.hourglass-half::before {content: fa-content($fa-var-hourglass-half); }
.icon.hourglass-start::before {content: fa-content($fa-var-hourglass-start); }
.icon.houzz::before {content: fa-content($fa-var-houzz); }
.icon.html5::before {content: fa-content($fa-var-html5); }
.icon.hubspot::before {content: fa-content($fa-var-hubspot); }
.icon.i-cursor::before {content: fa-content($fa-var-i-cursor); }
.icon.id-badge::before {content: fa-content($fa-var-id-badge); }
.icon.id-card::before {content: fa-content($fa-var-id-card); }
.icon.image::before {content: fa-content($fa-var-image); }
.icon.images::before {content: fa-content($fa-var-images); }
.icon.imdb::before {content: fa-content($fa-var-imdb); }
.icon.inbox::before {content: fa-content($fa-var-inbox); }
.icon.indent::before {content: fa-content($fa-var-indent); }
.icon.industry::before {content: fa-content($fa-var-industry); }
.icon.info::before {content: fa-content($fa-var-info); }
.icon.info-circle::before {content: fa-content($fa-var-info-circle); }
.icon.instagram::before {content: fa-content($fa-var-instagram); }
.icon.internet-explorer::before {content: fa-content($fa-var-internet-explorer); }
.icon.ioxhost::before {content: fa-content($fa-var-ioxhost); }
.icon.italic::before {content: fa-content($fa-var-italic); }
.icon.itunes::before {content: fa-content($fa-var-itunes); }
.icon.itunes-note::before {content: fa-content($fa-var-itunes-note); }
.icon.jenkins::before {content: fa-content($fa-var-jenkins); }
.icon.joget::before {content: fa-content($fa-var-joget); }
.icon.joomla::before {content: fa-content($fa-var-joomla); }
.icon.js::before {content: fa-content($fa-var-js); }
.icon.js-square::before {content: fa-content($fa-var-js-square); }
.icon.jsfiddle::before {content: fa-content($fa-var-jsfiddle); }
.icon.key::before {content: fa-content($fa-var-key); }
.icon.keyboard::before {content: fa-content($fa-var-keyboard); }
.icon.keycdn::before {content: fa-content($fa-var-keycdn); }
.icon.kickstarter::before {content: fa-content($fa-var-kickstarter); }
.icon.kickstarter-k::before {content: fa-content($fa-var-kickstarter-k); }
.icon.korvue::before {content: fa-content($fa-var-korvue); }
.icon.language::before {content: fa-content($fa-var-language); }
.icon.laptop::before {content: fa-content($fa-var-laptop); }
.icon.laravel::before {content: fa-content($fa-var-laravel); }
.icon.lastfm::before {content: fa-content($fa-var-lastfm); }
.icon.lastfm-square::before {content: fa-content($fa-var-lastfm-square); }
.icon.leaf::before {content: fa-content($fa-var-leaf); }
.icon.leanpub::before {content: fa-content($fa-var-leanpub); }
.icon.lemon::before {content: fa-content($fa-var-lemon); }
.icon.less::before {content: fa-content($fa-var-less); }
.icon.level-down-alt::before {content: fa-content($fa-var-level-down-alt); }
.icon.level-up-alt::before {content: fa-content($fa-var-level-up-alt); }
.icon.life-ring::before {content: fa-content($fa-var-life-ring); }
.icon.lightbulb::before {content: fa-content($fa-var-lightbulb); }
.icon.line::before {content: fa-content($fa-var-line); }
.icon.link::before {content: fa-content($fa-var-link); }
.icon.linkedin::before {content: fa-content($fa-var-linkedin); }
.icon.linkedin-in::before {content: fa-content($fa-var-linkedin-in); }
.icon.linode::before {content: fa-content($fa-var-linode); }
.icon.linux::before {content: fa-content($fa-var-linux); }
.icon.lira-sign::before {content: fa-content($fa-var-lira-sign); }
.icon.list::before {content: fa-content($fa-var-list); }
.icon.list-alt::before {content: fa-content($fa-var-list-alt); }
.icon.list-ol::before {content: fa-content($fa-var-list-ol); }
.icon.list-ul::before {content: fa-content($fa-var-list-ul); }
.icon.location-arrow::before {content: fa-content($fa-var-location-arrow); }
.icon.lock::before {content: fa-content($fa-var-lock); }
.icon.lock-open::before {content: fa-content($fa-var-lock-open); }
.icon.long-arrow-alt-down::before {content: fa-content($fa-var-long-arrow-alt-down); }
.icon.long-arrow-alt-left::before {content: fa-content($fa-var-long-arrow-alt-left); }
.icon.long-arrow-alt-right::before {content: fa-content($fa-var-long-arrow-alt-right); }
.icon.long-arrow-alt-up::before {content: fa-content($fa-var-long-arrow-alt-up); }
.icon.low-vision::before {content: fa-content($fa-var-low-vision); }
.icon.lyft::before {content: fa-content($fa-var-lyft); }
.icon.magento::before {content: fa-content($fa-var-magento); }
.icon.magic::before {content: fa-content($fa-var-magic); }
.icon.magnet::before {content: fa-content($fa-var-magnet); }
.icon.male::before {content: fa-content($fa-var-male); }
.icon.map::before {content: fa-content($fa-var-map); }
.icon.map-marker::before {content: fa-content($fa-var-map-marker); }
.icon.map-marker-alt::before {content: fa-content($fa-var-map-marker-alt); }
.icon.map-pin::before {content: fa-content($fa-var-map-pin); }
.icon.map-signs::before {content: fa-content($fa-var-map-signs); }
.icon.mars::before {content: fa-content($fa-var-mars); }
.icon.mars-double::before {content: fa-content($fa-var-mars-double); }
.icon.mars-stroke::before {content: fa-content($fa-var-mars-stroke); }
.icon.mars-stroke-h::before {content: fa-content($fa-var-mars-stroke-h); }
.icon.mars-stroke-v::before {content: fa-content($fa-var-mars-stroke-v); }
.icon.maxcdn::before {content: fa-content($fa-var-maxcdn); }
.icon.medapps::before {content: fa-content($fa-var-medapps); }
.icon.medium::before {content: fa-content($fa-var-medium); }
.icon.medium-m::before {content: fa-content($fa-var-medium-m); }
.icon.medkit::before {content: fa-content($fa-var-medkit); }
.icon.medrt::before {content: fa-content($fa-var-medrt); }
.icon.meetup::before {content: fa-content($fa-var-meetup); }
.icon.meh::before {content: fa-content($fa-var-meh); }
.icon.mercury::before {content: fa-content($fa-var-mercury); }
.icon.microchip::before {content: fa-content($fa-var-microchip); }
.icon.microphone::before {content: fa-content($fa-var-microphone); }
.icon.microphone-slash::before {content: fa-content($fa-var-microphone-slash); }
.icon.microsoft::before {content: fa-content($fa-var-microsoft); }
.icon.minus::before {content: fa-content($fa-var-minus); }
.icon.minus-circle::before {content: fa-content($fa-var-minus-circle); }
.icon.minus-square::before {content: fa-content($fa-var-minus-square); }
.icon.mix::before {content: fa-content($fa-var-mix); }
.icon.mixcloud::before {content: fa-content($fa-var-mixcloud); }
.icon.mizuni::before {content: fa-content($fa-var-mizuni); }
.icon.mobile::before {content: fa-content($fa-var-mobile); }
.icon.mobile-alt::before {content: fa-content($fa-var-mobile-alt); }
.icon.modx::before {content: fa-content($fa-var-modx); }
.icon.monero::before {content: fa-content($fa-var-monero); }
.icon.money-bill-alt::before {content: fa-content($fa-var-money-bill-alt); }
.icon.moon::before {content: fa-content($fa-var-moon); }
.icon.motorcycle::before {content: fa-content($fa-var-motorcycle); }
.icon.mouse-pointer::before {content: fa-content($fa-var-mouse-pointer); }
.icon.music::before {content: fa-content($fa-var-music); }
.icon.napster::before {content: fa-content($fa-var-napster); }
.icon.neuter::before {content: fa-content($fa-var-neuter); }
.icon.newspaper::before {content: fa-content($fa-var-newspaper); }
.icon.nintendo-switch::before {content: fa-content($fa-var-nintendo-switch); }
.icon.node::before {content: fa-content($fa-var-node); }
.icon.node-js::before {content: fa-content($fa-var-node-js); }
.icon.npm::before {content: fa-content($fa-var-npm); }
.icon.ns8::before {content: fa-content($fa-var-ns8); }
.icon.nutritionix::before {content: fa-content($fa-var-nutritionix); }
.icon.object-group::before {content: fa-content($fa-var-object-group); }
.icon.object-ungroup::before {content: fa-content($fa-var-object-ungroup); }
.icon.odnoklassniki::before {content: fa-content($fa-var-odnoklassniki); }
.icon.odnoklassniki-square::before {content: fa-content($fa-var-odnoklassniki-square); }
.icon.opencart::before {content: fa-content($fa-var-opencart); }
.icon.openid::before {content: fa-content($fa-var-openid); }
.icon.opera::before {content: fa-content($fa-var-opera); }
.icon.optin-monster::before {content: fa-content($fa-var-optin-monster); }
.icon.osi::before {content: fa-content($fa-var-osi); }
.icon.outdent::before {content: fa-content($fa-var-outdent); }
.icon.page4::before {content: fa-content($fa-var-page4); }
.icon.pagelines::before {content: fa-content($fa-var-pagelines); }
.icon.paint-brush::before {content: fa-content($fa-var-paint-brush); }
.icon.palfed::before {content: fa-content($fa-var-palfed); }
.icon.pallet::before {content: fa-content($fa-var-pallet); }
.icon.paper-plane::before {content: fa-content($fa-var-paper-plane); }
.icon.paperclip::before {content: fa-content($fa-var-paperclip); }
.icon.paragraph::before {content: fa-content($fa-var-paragraph); }
.icon.paste::before {content: fa-content($fa-var-paste); }
.icon.patreon::before {content: fa-content($fa-var-patreon); }
.icon.pause::before {content: fa-content($fa-var-pause); }
.icon.pause-circle::before {content: fa-content($fa-var-pause-circle); }
.icon.paw::before {content: fa-content($fa-var-paw); }
.icon.paypal::before {content: fa-content($fa-var-paypal); }
.icon.pen-square::before {content: fa-content($fa-var-pen-square); }
.icon.pencil-alt::before {content: fa-content($fa-var-pencil-alt); }
.icon.percent::before {content: fa-content($fa-var-percent); }
.icon.periscope::before {content: fa-content($fa-var-periscope); }
.icon.phabricator::before {content: fa-content($fa-var-phabricator); }
.icon.phoenix-framework::before {content: fa-content($fa-var-phoenix-framework); }
.icon.phone::before {content: fa-content($fa-var-phone); }
.icon.phone-square::before {content: fa-content($fa-var-phone-square); }
.icon.phone-volume::before {content: fa-content($fa-var-phone-volume); }
.icon.php::before {content: fa-content($fa-var-php); }
.icon.pied-piper::before {content: fa-content($fa-var-pied-piper); }
.icon.pied-piper-alt::before {content: fa-content($fa-var-pied-piper-alt); }
.icon.pied-piper-pp::before {content: fa-content($fa-var-pied-piper-pp); }
.icon.pills::before {content: fa-content($fa-var-pills); }
.icon.pinterest::before {content: fa-content($fa-var-pinterest); }
.icon.pinterest-p::before {content: fa-content($fa-var-pinterest-p); }
.icon.pinterest-square::before {content: fa-content($fa-var-pinterest-square); }
.icon.plane::before {content: fa-content($fa-var-plane); }
.icon.play::before {content: fa-content($fa-var-play); }
.icon.play-circle::before {content: fa-content($fa-var-play-circle); }
.icon.playstation::before {content: fa-content($fa-var-playstation); }
.icon.plug::before {content: fa-content($fa-var-plug); }
.icon.plus::before {content: fa-content($fa-var-plus); }
.icon.plus-circle::before {content: fa-content($fa-var-plus-circle); }
.icon.plus-square::before {content: fa-content($fa-var-plus-square); }
.icon.podcast::before {content: fa-content($fa-var-podcast); }
.icon.pound-sign::before {content: fa-content($fa-var-pound-sign); }
.icon.power-off::before {content: fa-content($fa-var-power-off); }
.icon.print::before {content: fa-content($fa-var-print); }
.icon.product-hunt::before {content: fa-content($fa-var-product-hunt); }
.icon.pushed::before {content: fa-content($fa-var-pushed); }
.icon.puzzle-piece::before {content: fa-content($fa-var-puzzle-piece); }
.icon.python::before {content: fa-content($fa-var-python); }
.icon.qq::before {content: fa-content($fa-var-qq); }
.icon.qrcode::before {content: fa-content($fa-var-qrcode); }
.icon.question::before {content: fa-content($fa-var-question); }
.icon.question-circle::before {content: fa-content($fa-var-question-circle); }
.icon.quidditch::before {content: fa-content($fa-var-quidditch); }
.icon.quinscape::before {content: fa-content($fa-var-quinscape); }
.icon.quora::before {content: fa-content($fa-var-quora); }
.icon.quote-left::before {content: fa-content($fa-var-quote-left); }
.icon.quote-right::before {content: fa-content($fa-var-quote-right); }
.icon.random::before {content: fa-content($fa-var-random); }
.icon.ravelry::before {content: fa-content($fa-var-ravelry); }
.icon.react::before {content: fa-content($fa-var-react); }
.icon.rebel::before {content: fa-content($fa-var-rebel); }
.icon.recycle::before {content: fa-content($fa-var-recycle); }
.icon.red-river::before {content: fa-content($fa-var-red-river); }
.icon.reddit::before {content: fa-content($fa-var-reddit); }
.icon.reddit-alien::before {content: fa-content($fa-var-reddit-alien); }
.icon.reddit-square::before {content: fa-content($fa-var-reddit-square); }
.icon.redo::before {content: fa-content($fa-var-redo); }
.icon.redo-alt::before {content: fa-content($fa-var-redo-alt); }
.icon.registered::before {content: fa-content($fa-var-registered); }
.icon.rendact::before {content: fa-content($fa-var-rendact); }
.icon.renren::before {content: fa-content($fa-var-renren); }
.icon.reply::before {content: fa-content($fa-var-reply); }
.icon.reply-all::before {content: fa-content($fa-var-reply-all); }
.icon.replyd::before {content: fa-content($fa-var-replyd); }
.icon.resolving::before {content: fa-content($fa-var-resolving); }
.icon.retweet::before {content: fa-content($fa-var-retweet); }
.icon.road::before {content: fa-content($fa-var-road); }
.icon.rocket::before {content: fa-content($fa-var-rocket); }
.icon.rocketchat::before {content: fa-content($fa-var-rocketchat); }
.icon.rockrms::before {content: fa-content($fa-var-rockrms); }
.icon.rss::before {content: fa-content($fa-var-rss); }
.icon.rss-square::before {content: fa-content($fa-var-rss-square); }
.icon.ruble-sign::before {content: fa-content($fa-var-ruble-sign); }
.icon.rupee-sign::before {content: fa-content($fa-var-rupee-sign); }
.icon.safari::before {content: fa-content($fa-var-safari); }
.icon.sass::before {content: fa-content($fa-var-sass); }
.icon.save::before {content: fa-content($fa-var-save); }
.icon.schlix::before {content: fa-content($fa-var-schlix); }
.icon.scribd::before {content: fa-content($fa-var-scribd); }
.icon.search::before {content: fa-content($fa-var-search); }
.icon.search-minus::before {content: fa-content($fa-var-search-minus); }
.icon.search-plus::before {content: fa-content($fa-var-search-plus); }
.icon.searchengin::before {content: fa-content($fa-var-searchengin); }
.icon.sellcast::before {content: fa-content($fa-var-sellcast); }
.icon.sellsy::before {content: fa-content($fa-var-sellsy); }
.icon.server::before {content: fa-content($fa-var-server); }
.icon.servicestack::before {content: fa-content($fa-var-servicestack); }
.icon.share::before {content: fa-content($fa-var-share); }
.icon.share-alt::before {content: fa-content($fa-var-share-alt); }
.icon.share-alt-square::before {content: fa-content($fa-var-share-alt-square); }
.icon.share-square::before {content: fa-content($fa-var-share-square); }
.icon.shekel-sign::before {content: fa-content($fa-var-shekel-sign); }
.icon.shield-alt::before {content: fa-content($fa-var-shield-alt); }
.icon.ship::before {content: fa-content($fa-var-ship); }
.icon.shipping-fast::before {content: fa-content($fa-var-shipping-fast); }
.icon.shirtsinbulk::before {content: fa-content($fa-var-shirtsinbulk); }
.icon.shopping-bag::before {content: fa-content($fa-var-shopping-bag); }
.icon.shopping-basket::before {content: fa-content($fa-var-shopping-basket); }
.icon.shopping-cart::before {content: fa-content($fa-var-shopping-cart); }
.icon.shower::before {content: fa-content($fa-var-shower); }
.icon.sign-in-alt::before {content: fa-content($fa-var-sign-in-alt); }
.icon.sign-language::before {content: fa-content($fa-var-sign-language); }
.icon.sign-out-alt::before {content: fa-content($fa-var-sign-out-alt); }
.icon.signal::before {content: fa-content($fa-var-signal); }
.icon.simplybuilt::before {content: fa-content($fa-var-simplybuilt); }
.icon.sistrix::before {content: fa-content($fa-var-sistrix); }
.icon.sitemap::before {content: fa-content($fa-var-sitemap); }
.icon.skyatlas::before {content: fa-content($fa-var-skyatlas); }
.icon.skype::before {content: fa-content($fa-var-skype); }
.icon.slack::before {content: fa-content($fa-var-slack); }
.icon.slack-hash::before {content: fa-content($fa-var-slack-hash); }
.icon.sliders-h::before {content: fa-content($fa-var-sliders-h); }
.icon.slideshare::before {content: fa-content($fa-var-slideshare); }
.icon.smile::before {content: fa-content($fa-var-smile); }
.icon.snapchat::before {content: fa-content($fa-var-snapchat); }
.icon.snapchat-ghost::before {content: fa-content($fa-var-snapchat-ghost); }
.icon.snapchat-square::before {content: fa-content($fa-var-snapchat-square); }
.icon.snowflake::before {content: fa-content($fa-var-snowflake); }
.icon.sort::before {content: fa-content($fa-var-sort); }
.icon.sort-alpha-down::before {content: fa-content($fa-var-sort-alpha-down); }
.icon.sort-alpha-up::before {content: fa-content($fa-var-sort-alpha-up); }
.icon.sort-amount-down::before {content: fa-content($fa-var-sort-amount-down); }
.icon.sort-amount-up::before {content: fa-content($fa-var-sort-amount-up); }
.icon.sort-down::before {content: fa-content($fa-var-sort-down); }
.icon.sort-numeric-down::before {content: fa-content($fa-var-sort-numeric-down); }
.icon.sort-numeric-up::before {content: fa-content($fa-var-sort-numeric-up); }
.icon.sort-up::before {content: fa-content($fa-var-sort-up); }
.icon.soundcloud::before {content: fa-content($fa-var-soundcloud); }
.icon.space-shuttle::before {content: fa-content($fa-var-space-shuttle); }
.icon.speakap::before {content: fa-content($fa-var-speakap); }
.icon.spinner::before {content: fa-content($fa-var-spinner); }
.icon.spotify::before {content: fa-content($fa-var-spotify); }
.icon.square::before {content: fa-content($fa-var-square); }
.icon.square-full::before {content: fa-content($fa-var-square-full); }
.icon.stack-exchange::before {content: fa-content($fa-var-stack-exchange); }
.icon.stack-overflow::before {content: fa-content($fa-var-stack-overflow); }
.icon.star::before {content: fa-content($fa-var-star); }
.icon.star-half::before {content: fa-content($fa-var-star-half); }
.icon.staylinked::before {content: fa-content($fa-var-staylinked); }
.icon.steam::before {content: fa-content($fa-var-steam); }
.icon.steam-square::before {content: fa-content($fa-var-steam-square); }
.icon.steam-symbol::before {content: fa-content($fa-var-steam-symbol); }
.icon.step-backward::before {content: fa-content($fa-var-step-backward); }
.icon.step-forward::before {content: fa-content($fa-var-step-forward); }
.icon.stethoscope::before {content: fa-content($fa-var-stethoscope); }
.icon.sticker-mule::before {content: fa-content($fa-var-sticker-mule); }
.icon.sticky-note::before {content: fa-content($fa-var-sticky-note); }
.icon.stop::before {content: fa-content($fa-var-stop); }
.icon.stop-circle::before {content: fa-content($fa-var-stop-circle); }
.icon.stopwatch::before {content: fa-content($fa-var-stopwatch); }
.icon.strava::before {content: fa-content($fa-var-strava); }
.icon.street-view::before {content: fa-content($fa-var-street-view); }
.icon.strikethrough::before {content: fa-content($fa-var-strikethrough); }
.icon.stripe::before {content: fa-content($fa-var-stripe); }
.icon.stripe-s::before {content: fa-content($fa-var-stripe-s); }
.icon.studiovinari::before {content: fa-content($fa-var-studiovinari); }
.icon.stumbleupon::before {content: fa-content($fa-var-stumbleupon); }
.icon.stumbleupon-circle::before {content: fa-content($fa-var-stumbleupon-circle); }
.icon.subscript::before {content: fa-content($fa-var-subscript); }
.icon.subway::before {content: fa-content($fa-var-subway); }
.icon.suitcase::before {content: fa-content($fa-var-suitcase); }
.icon.sun::before {content: fa-content($fa-var-sun); }
.icon.superpowers::before {content: fa-content($fa-var-superpowers); }
.icon.superscript::before {content: fa-content($fa-var-superscript); }
.icon.supple::before {content: fa-content($fa-var-supple); }
.icon.sync::before {content: fa-content($fa-var-sync); }
.icon.sync-alt::before {content: fa-content($fa-var-sync-alt); }
.icon.syringe::before {content: fa-content($fa-var-syringe); }
.icon.table::before {content: fa-content($fa-var-table); }
.icon.table-tennis::before {content: fa-content($fa-var-table-tennis); }
.icon.tablet::before {content: fa-content($fa-var-tablet); }
.icon.tablet-alt::before {content: fa-content($fa-var-tablet-alt); }
.icon.tachometer-alt::before {content: fa-content($fa-var-tachometer-alt); }
.icon.tag::before {content: fa-content($fa-var-tag); }
.icon.tags::before {content: fa-content($fa-var-tags); }
.icon.tasks::before {content: fa-content($fa-var-tasks); }
.icon.taxi::before {content: fa-content($fa-var-taxi); }
.icon.telegram::before {content: fa-content($fa-var-telegram); }
.icon.telegram-plane::before {content: fa-content($fa-var-telegram-plane); }
.icon.tencent-weibo::before {content: fa-content($fa-var-tencent-weibo); }
.icon.terminal::before {content: fa-content($fa-var-terminal); }
.icon.text-height::before {content: fa-content($fa-var-text-height); }
.icon.text-width::before {content: fa-content($fa-var-text-width); }
.icon.th::before {content: fa-content($fa-var-th); }
.icon.th-large::before {content: fa-content($fa-var-th-large); }
.icon.th-list::before {content: fa-content($fa-var-th-list); }
.icon.themeisle::before {content: fa-content($fa-var-themeisle); }
.icon.thermometer::before {content: fa-content($fa-var-thermometer); }
.icon.thermometer-empty::before {content: fa-content($fa-var-thermometer-empty); }
.icon.thermometer-full::before {content: fa-content($fa-var-thermometer-full); }
.icon.thermometer-half::before {content: fa-content($fa-var-thermometer-half); }
.icon.thermometer-quarter::before {content: fa-content($fa-var-thermometer-quarter); }
.icon.thermometer-three-quarters::before {content: fa-content($fa-var-thermometer-three-quarters); }
.icon.thumbs-down::before {content: fa-content($fa-var-thumbs-down); }
.icon.thumbs-up::before {content: fa-content($fa-var-thumbs-up); }
.icon.thumbtack::before {content: fa-content($fa-var-thumbtack); }
.icon.ticket-alt::before {content: fa-content($fa-var-ticket-alt); }
.icon.times::before {content: fa-content($fa-var-times); }
.icon.times-circle::before {content: fa-content($fa-var-times-circle); }
.icon.tint::before {content: fa-content($fa-var-tint); }
.icon.toggle-off::before {content: fa-content($fa-var-toggle-off); }
.icon.toggle-on::before {content: fa-content($fa-var-toggle-on); }
.icon.trademark::before {content: fa-content($fa-var-trademark); }
.icon.train::before {content: fa-content($fa-var-train); }
.icon.transgender::before {content: fa-content($fa-var-transgender); }
.icon.transgender-alt::before {content: fa-content($fa-var-transgender-alt); }
.icon.trash::before {content: fa-content($fa-var-trash); }
.icon.trash-alt::before {content: fa-content($fa-var-trash-alt); }
.icon.tree::before {content: fa-content($fa-var-tree); }
.icon.trello::before {content: fa-content($fa-var-trello); }
.icon.tripadvisor::before {content: fa-content($fa-var-tripadvisor); }
.icon.trophy::before {content: fa-content($fa-var-trophy); }
.icon.truck::before {content: fa-content($fa-var-truck); }
.icon.tty::before {content: fa-content($fa-var-tty); }
.icon.tumblr::before {content: fa-content($fa-var-tumblr); }
.icon.tumblr-square::before {content: fa-content($fa-var-tumblr-square); }
.icon.tv::before {content: fa-content($fa-var-tv); }
.icon.twitch::before {content: fa-content($fa-var-twitch); }
.icon.twitter::before {content: fa-content($fa-var-twitter); }
.icon.twitter-square::before {content: fa-content($fa-var-twitter-square); }
.icon.typo3::before {content: fa-content($fa-var-typo3); }
.icon.uber::before {content: fa-content($fa-var-uber); }
.icon.uikit::before {content: fa-content($fa-var-uikit); }
.icon.umbrella::before {content: fa-content($fa-var-umbrella); }
.icon.underline::before {content: fa-content($fa-var-underline); }
.icon.undo::before {content: fa-content($fa-var-undo); }
.icon.undo-alt::before {content: fa-content($fa-var-undo-alt); }
.icon.uniregistry::before {content: fa-content($fa-var-uniregistry); }
.icon.universal-access::before {content: fa-content($fa-var-universal-access); }
.icon.university::before {content: fa-content($fa-var-university); }
.icon.unlink::before {content: fa-content($fa-var-unlink); }
.icon.unlock::before {content: fa-content($fa-var-unlock); }
.icon.unlock-alt::before {content: fa-content($fa-var-unlock-alt); }
.icon.untappd::before {content: fa-content($fa-var-untappd); }
.icon.upload::before {content: fa-content($fa-var-upload); }
.icon.usb::before {content: fa-content($fa-var-usb); }
.icon.user::before {content: fa-content($fa-var-user); }
.icon.user-circle::before {content: fa-content($fa-var-user-circle); }
.icon.user-md::before {content: fa-content($fa-var-user-md); }
.icon.user-plus::before {content: fa-content($fa-var-user-plus); }
.icon.user-secret::before {content: fa-content($fa-var-user-secret); }
.icon.user-times::before {content: fa-content($fa-var-user-times); }
.icon.users::before {content: fa-content($fa-var-users); }
.icon.ussunnah::before {content: fa-content($fa-var-ussunnah); }
.icon.utensil-spoon::before {content: fa-content($fa-var-utensil-spoon); }
.icon.utensils::before {content: fa-content($fa-var-utensils); }
.icon.vaadin::before {content: fa-content($fa-var-vaadin); }
.icon.venus::before {content: fa-content($fa-var-venus); }
.icon.venus-double::before {content: fa-content($fa-var-venus-double); }
.icon.venus-mars::before {content: fa-content($fa-var-venus-mars); }
.icon.viacoin::before {content: fa-content($fa-var-viacoin); }
.icon.viadeo::before {content: fa-content($fa-var-viadeo); }
.icon.viadeo-square::before {content: fa-content($fa-var-viadeo-square); }
.icon.viber::before {content: fa-content($fa-var-viber); }
.icon.video::before {content: fa-content($fa-var-video); }
.icon.vimeo::before {content: fa-content($fa-var-vimeo); }
.icon.vimeo-square::before {content: fa-content($fa-var-vimeo-square); }
.icon.vimeo-v::before {content: fa-content($fa-var-vimeo-v); }
.icon.vine::before {content: fa-content($fa-var-vine); }
.icon.vk::before {content: fa-content($fa-var-vk); }
.icon.vnv::before {content: fa-content($fa-var-vnv); }
.icon.volleyball-ball::before {content: fa-content($fa-var-volleyball-ball); }
.icon.volume-down::before {content: fa-content($fa-var-volume-down); }
.icon.volume-off::before {content: fa-content($fa-var-volume-off); }
.icon.volume-up::before {content: fa-content($fa-var-volume-up); }
.icon.vuejs::before {content: fa-content($fa-var-vuejs); }
.icon.warehouse::before {content: fa-content($fa-var-warehouse); }
.icon.weibo::before {content: fa-content($fa-var-weibo); }
.icon.weight::before {content: fa-content($fa-var-weight); }
.icon.weixin::before {content: fa-content($fa-var-weixin); }
.icon.whatsapp::before {content: fa-content($fa-var-whatsapp); }
.icon.whatsapp-square::before {content: fa-content($fa-var-whatsapp-square); }
.icon.wheelchair::before {content: fa-content($fa-var-wheelchair); }
.icon.whmcs::before {content: fa-content($fa-var-whmcs); }
.icon.wifi::before {content: fa-content($fa-var-wifi); }
.icon.wikipedia-w::before {content: fa-content($fa-var-wikipedia-w); }
.icon.window-close::before {content: fa-content($fa-var-window-close); }
.icon.window-maximize::before {content: fa-content($fa-var-window-maximize); }
.icon.window-minimize::before {content: fa-content($fa-var-window-minimize); }
.icon.window-restore::before {content: fa-content($fa-var-window-restore); }
.icon.windows::before {content: fa-content($fa-var-windows); }
.icon.won-sign::before {content: fa-content($fa-var-won-sign); }
.icon.wordpress::before {content: fa-content($fa-var-wordpress); }
.icon.wordpress-simple::before {content: fa-content($fa-var-wordpress-simple); }
.icon.wpbeginner::before {content: fa-content($fa-var-wpbeginner); }
.icon.wpexplorer::before {content: fa-content($fa-var-wpexplorer); }
.icon.wpforms::before {content: fa-content($fa-var-wpforms); }
.icon.wrench::before {content: fa-content($fa-var-wrench); }
.icon.xbox::before {content: fa-content($fa-var-xbox); }
.icon.xing::before {content: fa-content($fa-var-xing); }
.icon.xing-square::before {content: fa-content($fa-var-xing-square); }
.icon.y-combinator::before {content: fa-content($fa-var-y-combinator); }
.icon.yahoo::before {content: fa-content($fa-var-yahoo); }
.icon.yandex::before {content: fa-content($fa-var-yandex); }
.icon.yandex-international::before {content: fa-content($fa-var-yandex-international); }
.icon.yelp::before {content: fa-content($fa-var-yelp); }
.icon.yen-sign::before {content: fa-content($fa-var-yen-sign); }
.icon.yoast::before {content: fa-content($fa-var-yoast); }
.icon.youtube::before {content: fa-content($fa-var-youtube); }
.icon.youtube-square::before {content: fa-content($fa-var-youtube-square); }