@import 'color';

%button  {
    margin: 3px;
    padding: 10px 18px 8px 18px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.jw {
    .button {
        color: white;
        @extend %button;
    }

    .primary {
        background-color: $primary-color;
        &:hover  {
            background-color: lighten($primary-color, 5%);
        }
    }
    .secondary {
        background-color: $secondary-color;
        &:hover  {
            background-color: lighten($secondary-color, 5%);
        }
    }
    .positive {
        background-color: $positive-color;
        &:hover  {
            background-color: lighten($positive-color, 5%);
        }
    }
    .negative {
        background-color: $negative-color;
        &:hover  {
            background-color: lighten($negative-color, 5%)
        }
    }
}