
.right {
    float: right;
}

.jw.nav {
    padding: 10px;
    background:  #545e75;
    color: white;
}

.jw.nav.link {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover  {
        color: white;
        font-weight: bolder;
    }
}